<!DOCTYPE html>
{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>BENT DAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'images/yunus/bentdaslogo1.png'}" type="image/x-icon">

    
    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/animate/animated.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/owl.carousel.min/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/jquery.mmenu.all/jquery.mmenu.all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/direction/css/noJS.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/prettyphoto-master/css/prettyPhoto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/slick-sider/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'libs/countdown-timer/css/demo.css' %}">

    <!-- Template CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    
    -->
</head>

<body class="home personal-home">
    <div id="preloaderKDZ"></div>
    <div class="yolo-site">
        <div id="example-wrapper">
            {% include  'inc/header.html' %}
            {% block content %}
            {% endblock content %}
            {% include  'inc/footer.html' %}
        </div>
    </div>







    <script type="text/javascript" src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/animate/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery.mmenu.all/jquery.mmenu.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-appear/jquery.appear.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/jquery-countto/jquery.countTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/direction/js/jquery.hoverdir.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/direction/js/modernizr.custom.97074.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/isotope/isotope.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/isotope/fit-columns.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/isotope/isotope-docs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/mansory/mansory.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/prettyphoto-master/js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/slick-sider/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/countdown-timer/js/jquery.final-countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/countdown-timer/js/kinetic.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/owl.carousel.min/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>